/* add your styles here */

h1{
    text-align: center;
}
.grid{
    margin-left: 2vw;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    row-gap: 2vw;
    margin-top: 2vw;
    margin-left: 1.5vw;
}